{% extends "base.html" %}
{% load static %}
{% block title %}Index{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/botui.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/botui-theme-default.css' %}" />
{% endblock %}

{% block content %}  

<div id="my-botui-app">
  <bot-ui></bot-ui>
</div>

<div>
    <textarea class="form-control"></textarea>
</div>

{% endblock %}

{% block extra_javascript %}
<script src="{% static 'js/lib/vue.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/lib/botui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/lib/js.cookie.js' %}" type="text/javascript"></script>

<script type="text/javascript">
    // Helper function for sending requests to our Index view
    function sendAjax(botui, input) {
        $.ajax({
            type: "POST",
            url: "/",
            data : { user_input: input },

            success : function(data) {
                botui.message.add({
                    human: true,
                    content: input       
                }).then(function () { 
                    botui.message.add({
                        delay: 2000,
                        content: data.text
                    });
                });
            },
            error: function() {
                newRecievedMessage("Internal Server Error");
            }
        });
    };

    $('document').ready(function(){
        // Boilerplate code from Django documentation
        // https://docs.djangoproject.com/en/1.11/ref/csrf/#acquiring-the-token-if-csrf-use-sessions-is-false
        // https://docs.djangoproject.com/en/1.11/ref/csrf/#setting-the-token-on-the-ajax-request
        var csrftoken = Cookies.get('csrftoken');
        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        // Create BotUI.
        var botui = new BotUI('my-botui-app');

        botui.message.add({
          content: 'Hello! Ready to get started? Type "start."'
        });

        // Listen for keypress event (i.e., hitting "enter")
        $("textarea").keypress(function(event) {
            // Did the user press the "enter" key?
            if (event.which === 13) {
                // Ignore the default function of the "enter" key
                event.preventDefault();
                
                $user_input = this.value
                if ($user_input) {
                    sendAjax(botui, $user_input);
                } 
            }
        });
    });

</script>
{% endblock %}
