__pycache__/
*.log
settings_deployment.py

# for testing Twilio webhook
ngrok

# collected static files
static/**

# blackbox
/keyrings/live/pubring.gpg~
/keyrings/live/pubring.kbx~
/keyrings/live/secring.gpg
/configs/coordinated-entry-screening-staging.conf.nginx
/configs/coordinated-entry-screening-staging.conf.supervisor
/scripts/app_start.sh
/scripts/after_install.sh

/configs/settings_deployment.production.py
/configs/settings_deployment.staging.py
/configs/coordinated-entry-screening-production.conf.supervisor
/configs/coordinated-entry-screening-production.conf.nginx

# Make
location_codes.csv
location_codes_ported