https://github.com/datamade/rapidsms/zipball/master
https://github.com/datamade/rapidsms-decisiontree-app/zipball/master
https://github.com/datamade/rapidsms-twilio/zipball/master
Django==1.11
psycopg2==2.7.5
celery==4.2.1
gunicorn==19.6.0
pytest-django==3.4.3
raven==6.9.0
csvkit==1.0.3
mock==2.0.0
