{% load static %}

<div class='row mt-6'>
    <div class='col-12'>
        <h2>Overview</h2>

        <div class='row'>
            <div class='col p-5 text-center'>
                <h3>{{ open_sessions }}</h3>
                <p>Surveys currently in progress (started in the last 24 hours)</p>
            </div>
            <div class='col p-5 text-center'>
                <h3>{{ percentage_complete | floatformat }}%</h3>
                <p>Percentage of surveys started that were completed</p>
            </div>
            <div class='col p-5 text-center'>
                <h3>{{ percentage_canceled | floatformat }}%</h3>
                <p>Percentage of surveys started that were canceled</p>
            </div>
        </div>
    </div>
</div>
<div class='row mt-6'>
    <div class='col-12'>
        <h2>How did users end their sessions?</h2>
        <h4><span class='badge badge-pill badge-primary'>{{ completed_sessions }}</span> Completed sessions</h4>
        <p>These users completed the entire survey! This chart shows the last message or resource sent to the user.</p>
        <div id="{{type}}-completed-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
</div>
<div class='row mt-4'>
    <div class='col-12'>
        <h4><span class='badge badge-pill badge-primary'>{{ canceled_sessions }}</span> Canceled sessions</h4>
        <p>These users canceled their session, either by instructing the tool to close their session (e.g. by typing "end") or by abandoning their session after 24 hours. This chart shows the question or resource on which users canceled their sessions.</p>
        <div id="{{ type }}-canceled-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
</div>
<div class='row mt-6 mb-5'>
    <div class='col-12'>
        <h2>Which resources did B.E.N. recommend?</h2>
        <p>This chart shows the total number of times each resource has been recommended on all surveys (open, completed, and closed).</p>
        <div id="{{type}}-resources-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
</div>
