:root {
    --blue: #0178BC;
    --light-blue: #4da0d0;
    --green: #56967D;
    --almost-black: #434348;
}

html {
    /*Required for: getbootstrap.com/docs/4.0/examples/sticky-footer/ */
    position: relative; 
    min-height: 100%;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    margin-bottom: 60px;
}

h1, h2, h3 {
    text-transform: uppercase;
}

/* Custom Bootstrap utilities */
.mt-6 {
    margin-top: 4em; 
    /* A custom class inspired by: getbootstrap.com/docs/4.1/utilities/spacing/#examples */
}

.badge-primary {
    background-color: var(--green);
}

.btn-blue {
    background-color: var(--blue);
    color: #fff;
}

.btn-blue:hover, .btn-blue.active {
    background-color: var(--light-blue);
}

/* Navbar and footer */
nav {
    background-color: var(--blue);
    color: #fff;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.footer {
    background-color: var(--light-blue);
    color: #fff; 
    line-height: 60px;
      position: absolute;
    bottom: 0;
    width: 100%;
}

/* Dashboard charts */
.highcharts-tooltip span {
    height: auto;
    width: 200px;
    overflow: auto;
    white-space: normal !important;
    color: var(--almost-black);
    background-color: '#ECF0F1';
}
