:root {
    --blue: #0178BC;
    --light-blue: #4da0d0;
    --green: #3db54a;
    --almost-black: #434348;
}

html {
    /*Required for: getbootstrap.com/docs/4.0/examples/sticky-footer/ */
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    margin-bottom: 60px;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

a {
    color: var(--blue);
}

a:hover {
    color: var(--light-blue);
}

p {
    font-size: 16px;
}

/* Custom Bootstrap utilities */
.mt-6 {
    /* A custom class inspired by: getbootstrap.com/docs/4.1/utilities/spacing/#examples */
    margin-top: 4em;
}

.badge-primary {
    background-color: var(--green);
}

.btn-blue {
    background-color: var(--blue);
    color: #fff;
}

.btn-blue:hover, .btn-blue.active {
    background-color: var(--light-blue);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: var(--blue);
}

/* Navbar and Footer */
nav {
    background-color: #fff; /* Override background color of body */
    font-family: 'Lato', sans-serif;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: var(--blue);
    font-weight: 800;
    font-size: 1.2em;
}

.navbar-toggler {
    border: 1px solid var(--blue);
    background-color: var(--blue);
}

.fa-bars {
    color: #fff;
}

.footer {
    background-color: var(--blue);
    line-height: 60px;
    position: absolute;
    bottom: 0;
}

/* Chatbot */
.bot-msg, .botui-actions-buttons, .botui-message-content, .card-header {
    font-size: 16px;
}

.bot-msg div {
    padding-bottom: 4px;
}

.bot-msg img {
    height: 50px;
}

.botui-actions-buttons button:focus {
    outline: none;
}

.ben-sidebar {
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    padding-right: 0px;
}

.scroll {
    height: 450px;
    max-height: 500px;
    overflow-y: auto;
}

.card-body {
    padding-bottom: 3em;
}

.card-header {
    background-color: var(--blue);
    border: 1px solid var(--blue);
    color: #fff;
}

.botui-message-content {
    line-height: 1.4;
    max-width: 70%;
}

@media (max-width: 600px) {
    /* B.E.N. styles */
    .botui-message-content {
        max-width: 100%;
    }

    .botui-message.bot-msg {
        margin: 0;
    }

    .botui-messages-container {
        padding-bottom: 0;
    }

    .botui-message-content.text {
        line-height: 1.6;
        font-size: 12px;
    }

    .ben-sidebar {
        padding-left: 5px;
        padding-right: 2px;
    }

    .ben-words {
        padding: 0;
    }

    .ben-words-content {
        margin-right: 10px;
        padding-right: 5px;
    }

    div.card-body.scroll {
        padding: 0;
    }

    /* User answer styles */
    .botui-actions-container {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .botui-actions-buttons {
       font-size: 12px;
    }

    button.botui-actions-buttons-button {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

/* Dashboard charts */
.highcharts-tooltip span {
    height: auto;
    width: 200px;
    overflow: auto;
    white-space: normal !important;
    color: var(--almost-black);
    background-color: '#ECF0F1';
}

.border-btm {
    border-bottom: 2px solid #ebebeb;
}
