{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset='utf-8' />
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
    <title>{% block title %}Coordinated Entry Screening{% endblock %}</title>
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css" media="screen" />
    <link rel="icon" href="{% static 'images/favicon-32x32.png' %}" sizes="32x32"/>
    <link rel="icon" href="{% static 'images/favicon-16x16.png' %}" sizes="16x16"/>
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,600,700|Lato:900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" />
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="{% static "css/custom.css" %}" type="text/css" />
</head>
<body>
    
    <nav class="navbar navbar-expand">
        <div class="navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item pr-4">
                    <a class="nav-link" href="{% url 'index' %}">Connect</a>
                </li>
                <li class="nav-item pr-4">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item pr-4">
                    <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item pl-4">
                    <a class="nav-link" href="{% url 'ces_logout'%}"><i class="fas fa-user-circle"></i>&nbsp;<strong>{{ user.get_username }}</strong> | Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container main">
        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'js/lib/jquery-3.3.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/lib/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/lib/analytics_lib.js' %}"></script>
    {% block extra_javascript %}{% endblock %}
</body>
</html>