SECRET_KEY = 'something truly secret'

DEBUG = True

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'csh',
        'USER': '',
        'PASSWORD': '',
        'PORT': 5432,
    }
}

ACCOUNT_SID = ''
AUTH_TOKEN = ''
TWILIO_NUMBER = ''

ALLOWED_HOSTS = []
