{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}


<h2>Open sessions</h2>
<div class='row'>
    <div class='col-md-12'>
        <h4><span class='badge badge-pill badge-primary'>{{ open_sessions | length }}</span> users have open sessions</h4>
        <p>These users are currently completing a survey.</p>
        <div id="open-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
</div>
{% if open_sessions %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Start date</th>
            <th scope="col">Last modified</th>
            <th scope="col">Text</th>
        </tr>
    </thead>
    <tbody>
    {% for session in open_sessions %}
        <tr>
            <td>{{session.start_date}}</td>
            <td>{{session.last_modified}}</td>
            <td>{{session.text}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}



<h2>Closed sessions</h2>
{% if closed_sessions %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Start date</th>
            <th scope="col">Last modified</th>
            <th scope="col">Text</th>
        </tr>
    </thead>
    <tbody>
    {% for session in closed_sessions %}
        <tr>
            <td>{{session.start_date}}</td>
            <td>{{session.last_modified}}</td>
            <td>{{session.text}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}



<h2>Canceled sessions</h2>
<div class='row'>
    <div class='col-md-12'>
        <h4><span class='badge badge-pill badge-primary'>{{ canceled_sessions | length }}</span> users canceled their session</h4>
        <p>These users instructed the tool to close thier session, for example, by typing "end." This data shows the question on which users closed their sessions.</p>
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
</div>

<div class='row'>
    <div class='col-md-12'>
        {% if canceled_sessions %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Start date</th>
                    <th scope="col">Last modified</th>
                    <th scope="col">Text</th>
                </tr>
            </thead>
            <tbody>
            {% for session in canceled_sessions %}
                <tr>
                    <td>{{session.start_date}}</td>
                    <td>{{session.last_modified}}</td>
                    <td>{{session.text}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block extra_javascript %}

<script>
    $(function() {
        open_chart = '{{open_chart | escapejs}}'
        barHelper('open-chart' ,open_chart);

        canceled_chart = '{{canceled_chart | escapejs}}';
        barHelper('container', canceled_chart);

    });
</script>

{% endblock extra_javascript %}